
<!-- DIASBLED NEXT LESSON BUTTON TO PREVIEW DASHBOARD -->
<%= link_to current_user.next_lesson_with_group do %>
  <div class="next-lesson-full">
    <p>Next Lesson</p>
    <%= image_tag("right-arrow.svg") %>
  </div>
<% end %>

<div class="dashboard-bg">
  <div class="dashboard-ctr">
    <div class="progress-ctr">
      <h1>Your progress</h1>
      <div class="progress-icons-ctr">
        <div class="completed-ctr">
          <%= image_tag("videos-complete.svg", class:"progress-icon-videos")%>
          <div class="flex-column">
            <h3>Lessons completed</h3>
            <h2><span class="total"><%= current_user.lesson_completeds.count %></span>&nbsp; lessons</h2>          
          </div>
        </div>
        <div class="completed-ctr">
          <%= image_tag("poems-shared.svg", class:"progress-icon-poems")%>
          <div class="flex-column">
            <h3>Poems shared</h3>
            <h2><span class="total"><%= current_user.poems.count %></span>&nbsp; poems</h2>  
          </div>
        </div>
      </div>
    </div>
    
    <h1>Your lessons</h1>
    
    <div class="lessons-ctr">
      
      <% @lesson_groups.each do |lg| %>

        <% locked = lg.locked_for?(current_user) %>
        <% locked_class = locked ? 'locked' : 'unlocked' %>

        <div class="lesson-card"> 
        
          <div class="header <%= locked_class %>">
            
            <h3><%= lg.title %></h3>
            <p>Level <%= lg.order %></p>
          </div>
          
          <div class="body">
            
            <div class="course-image-<%= locked_class %>">
               <%= image_tag(locked ? "course-locked.svg" : "course-default.svg")%>        
            </div>
            
            <p class="lessons-complete"><%= "#{lg.completed_lessons_by(current_user).count} / #{lg.lessons.count}" %></p>
            
            <%= link_to locked ? '#' : current_user.next_lesson_with_group, class: "btn btn-#{locked_class}" do %>
              <p><%= locked ? "Locked" : "Continue" %></p>
              <%= image_tag(locked ? "course-locked.svg" : "right-arrow.svg") %>
            <% end %>
            
          </div>
        </div>
        
      <% end %>
    </div>

  </div>
  

</div>
