
<!-- DIASBLED NEXT LESSON BUTTON TO PREVIEW DASHBOARD -->
<%#= link_to current_user.next_lesson_with_group do %>
  <a href="#">
    <div class="next-lesson-full">
      <p>Next Lesson</p>
      <%= image_tag("right-arrow.svg") %>
    </div>
  </a>
<%# end %>
<div class="dashboard-bg">
  <div class="dashboard-ctr">
    <div class="progress-ctr">
      <h1>Your progress</h1>
      <div class="progress-icons-ctr">
        <div class="completed-ctr">
          <%= image_tag("videos-complete.svg", class:"progress-icon-videos")%>
          <div class="flex-column">
            <h3>Lessons completed</h3>
            <h2><span class="total"><%#= current_user.lesson_completeds.count %>11</span>&nbsp; lessons</h2>          
          </div>
        </div>
        <div class="completed-ctr">
          <%= image_tag("poems-shared.svg", class:"progress-icon-poems")%>
          <div class="flex-column">
            <h3>Poems shared</h3>
            <h2><span class="total"><%#= current_user.poems.count %>8</span>&nbsp; poems</h2>  
          </div>
        </div>
      </div>
    </div>
    
    <h1>Your lessons</h1>
    <% @lesson_groups.each do |lg| %>
    
      <div class="ui segment">
        <h3><%= lg.title %></h3>
        <h4><%= "Level #{lg.order}" %></h4>
        <h4><%= "#{} / #{lg.lessons.count}" %></h4>
        
        <%= link_to 'Continue', [lg, lg.lessons.first] %>
      </div>
      
<% end %>
    
  </div>
  

</div>
