<%= render 'layouts/nav' %>

<div class="nav-divider"></div>
<div class="hero">
  <div class="hero-heading-ctr">
    <h1>Learn How to Write through Poetry and Become a Famous Child Author</h1>
  </div>
</div>
<div class="preview">
  <p class="preview-note">Watch How it Works</p>
  <div class="preview-btn" data="preview-video-modal">
    <%= image_tag("green-play.svg") %>
  </div>
</div>
<div class="someone-like-you">
  <div class="author-ctr ctr-margin">
    <div class="author-descrip-ctr">
      <h2>Learn From Someone Like You</h2>
      <p>Hi! I’m Cassidy and I’m a 12-year-old author and philanthropist. 
      I fell in love with writing when I was 8 years old after I published my first book 
      (I’ve published more too!). I know what it’s like to be a kid and to struggle finding 
      interest in writing, so let me help you through poetry.</p>
    </div>
    <div class="flex-column author-profile-ctr">
      <div class="author-profile"></div>
      <div class="author-profile-title-ctr">
        <p class="author-profile-title">Meet Cassidy</p>
      </div>
    </div>
  </div>
</div>
<div class="nav-divider"></div>

<div class="have-fun ctr-margin">
  <h2 class="author-ctr">Have Fun While You Learn</h2>
  <div class="author-ctr value-prop-image-ctr">
    <div class="laptop-ctr">
      <%= image_tag("laptop.png", class: "value-prop-img") %>
    </div>
    <div class="value-prop-ctr">
      <div class="value-prop">
        <%= image_tag("video-icon.png") %>
        <p>Watch engaging video lessons</p>
      </div>
      <div class="value-prop">
        <%= image_tag("level-icon.png") %>
        <p>Complete levels and unlock new lessons</p>
      </div>
      <div class="value-prop">
        <%= image_tag("progress-icon.png") %>
        <p>See how far you've come</p>
      </div>
    </div>
  </div>
</div>
<div class="get-published">
  <div class="get-published-ctr author-ctr">
    <div class="get-published-descrip-ctr">
      <h2>Get Published on Amazon</h2>
      <p>The best poems are selected in June and, with parent approval, are published in a book for purchase on Amazon. The next step is stardom, are you ready?  Check out one of the books Cassidy has already published!</p>
    </div>
    <div class="get-published-img-ctr">
      <%= image_tag("cassidys-book.jpg", class: "cassidys-book author-ctr") %>
    </div>
  </div>
</div>
<div class="parents">
  <h2>What Parents Are Saying</h2>
  <div class="parents-ctr">

    <div class="quote-box">
      <span class="smart">“</span><p class="testimonial-quote">Cassidy’s poetry lessons are
a great way to bring out the best in a reluctant writer. Students complete short writing assignments so it’s not overwhelming. What’s great is you can see what they're achieving even with just a
little bit of work each day.”</p>
      <div class="quote-divider"></div>
      <p class="testimonial-parent">claire, parent</p>
    </div>
    <div class="generic-divider generic-divider-white"></div>

    <div class="quote-box">
     <span class="smart">“</span><p class="testimonial-quote">My son enjoyed learning about the different kinds of poems. He really enjoys Cassidy’s fun presentation because it’s from her own experience as a fellow child who learned how to write poetry.”</p>
     <div class="quote-divider"></div>
     <p class="testimonial-parent">edina, parent</p>
    </div>    
  </div>
</div>
<div class="branch-out">
  <h2>Branch Out and Connect With Other Students</h2>
  <div class="card-ctr">
    <div class="card">
      <div class="card-header card-header-1">
        <div class="card-header-circle">
          <p class="card-step"> STEP 1</p>
        </div>
      </div>
      <div class="card-body">
        <p class="card-description">Complete a small writing assignment</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header card-header-2">
        <div class="card-header-circle">
          <p class="card-step"> STEP 2</p>
        </div>
      </div>
      <div class="card-body">
        <p class="card-description">Save your work and upload it to the PoetTree</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header card-header-3">
        <div class="card-header-circle">
          <p class="card-step"> STEP 3</p>
        </div>        
      </div>
      <div class="card-body">
        <p class="card-description">Sit back, relax and let your friends enjoy your poetry</p>
      </div>
    </div>
    
  </div>
</div>
<div class="support">
  <h2>Support iPoetTree</h2>
  <div class="row">
      <%= image_tag("water-pot.svg") %>
      <div class="col">
        <p>iPoetTree depends on your support to provide countless students with free online writing curriculum. All donations are welcome and highly appreciated.</p>
        <a href="#" class="primary-red donate">Donate</a>
      </div>

      <%= image_tag("water-pot.svg", class:"transparent") %>
  </div>

  <div class="generic-divider generic-divider-black"></div>
</div>


<%= render 'layouts/login_modal' %>

<div class="preview-video-ctr hidden">
  <h2>This is What We Do</h2>
  <iframe class="preview-video" frameborder="0" allow="encrpyted-media" src="https://www.youtube.com/embed/rA9pZwDn6mU"></iframe>
  
</div>


<script>
  $(document).ready(function() {
    
    
	$('#hamburger').click(function() {
		$(this).toggleClass('open');
		$('.mobile-nav-box').toggleClass('hidden')
	})


	// Find Elements
	const previewBtn = document.querySelector(".preview-btn")
	const body = document.querySelector("body")
	const loginModal = document.querySelector(".login-modal-ctr")
	const signUp = document.querySelector("nav .primary-red")
	const videoPreview = document.querySelector(".preview-video-ctr")
	const homeLogin = document.getElementById("home-login")
	// Create & Mutate Elements
	const overlay = document.createElement("div")
	overlay.className = "hidden overlay"
	const modal = document.createElement("div")
	modal.className = "hidden modal"

	//Add Elements to Page
	body.appendChild(overlay)
	body.appendChild(modal)

	// Event Functions


	const overlayToggle = () => {
		overlay.classList.toggle("hidden")
	}
	const modalToggle = () => {
		modal.innerHTML = ""
		modal.classList.toggle("hidden")
	}
	const modalOverlayToggle = () => {
		overlay.classList.toggle("hidden")
		modal.innerHTML = ""
		modal.classList.toggle("hidden")
	}

	const modalChildClassToggle = (className) => {
		const ele = document.querySelector("." + className)
		ele.classList.toggle("hidden")
	}

	const renderVideoPreviewModal = () => {
		videoPreview.classList.toggle("hidden")
		overlay.setAttribute('data', 'preview-video-ctr')
		modal.appendChild(videoPreview)
	}

	const renderLoginModal = () => {
		loginModal.classList.toggle("hidden")
		overlay.setAttribute('data', 'login-modal-ctr')
		modal.appendChild(loginModal)
	}

	// Attach Event Listeners

	signUp.addEventListener("click", (e) => {
		e.preventDefault()
		modalOverlayToggle()
		renderLoginModal()
	})
	
	homeLogin.addEventListener("click", (e) => {
		e.preventDefault()
		modalOverlayToggle()
		renderLoginModal()
	})
	
	previewBtn.addEventListener("click", () => {
		modalOverlayToggle()
		renderVideoPreviewModal()
	})

	overlay.addEventListener("click", (e) => {
		const className = e.target.getAttribute("data")
		modalChildClassToggle(className)
		modalOverlayToggle()
		overlay.setAttribute("data", "")
	})

})
</script>

