<%= form_for @poem do |form| %>
  <% if poem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poem.errors.count, "error") %> prohibited this poem from being saved:</h2>

      <ul>
      <% poem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title, id: :poem_title, placeholder: "Title*" %>
    <%= form.hidden_field :lesson_id, value: @lesson.try(:id) || 1 %>
    <%= form.hidden_field :author_name, value: current_user.email.split('@')[0] %>
  </div>

  <div class="field">
    <%= form.text_area :body, id: :poem_body, placeholder: "Type your poem in here and click the save button to save your work*" %>
  </div>

  <%= form.hidden_field :user_id, id: :poem_user_id, value: current_user.id %>

  <div class="field">
    <%= form.text_field :image_url, id: :poem_image_url, placeholder: "Enter a URL for your Image (optional)" %>
  </div>
  
      <div class="field">
        <h2>Click the "on/off" to make sure your poem is on the PoetTree</h2>
        <div class="poettree-checkbox">
            <%= form.check_box :shared, id: :poem_shared, class: 'poettree-checkbox' %>
            <label for="poem_shared"></label>
        </div>
      </div>
      <div class="actions">
        <%= form.submit 'Save', class: 'save-poem-btn' %>
      </div>

<% end %>

<script>
  
  //$("#poem_form").bind('ajax:complete', function(xhr, status) { $("#poem_form").html("<h3>Thank you! Your poem was saved.</h3>") });
  
</script>