<%= form_with(model: poem, local: true) do |form| %>
  <% if poem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poem.errors.count, "error") %> prohibited this poem from being saved:</h2>

      <ul>
      <% poem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title, id: :poem_title, placeholder: "Title*" %>
  </div>

  <div class="field">
    <%= form.text_area :body, id: :poem_body, placeholder: "Type your poem in here and click the save button to save your work*" %>
  </div>

  <!--TODO UNCOMMENT BEFORE PRODUCTION, COMMENTED OUT HIDDEN FIELD TO TEST UI -->
  <%#= form.hidden_field :user_id, id: :poem_user_id, value: current_user.id %>

  <div class="field">
    <%= form.text_field :image_url, id: :poem_image_url, placeholder: "Enter a URL for your Image (optional)" %>
  </div>
  
      <div class="field">
        <h2>Click below make sure your poem is on the PoetTree</h2>
        <div class="poettree-checkbox">
            <%= form.check_box :shared, id: :poem_shared, class: 'poettree-checkbox' %>
            <label for="poem_shared"></label>
        </div>
      </div>
      <div class="actions">
        <%= form.submit 'Save', class: 'save-poem-btn' %>
      </div>

<% end %>
