<%= render 'lessons/nav' %>

<p id="notice"><%= notice %></p>

<main class="poettree-bg">
  <div class="poettree-ctr">
    <div class="poettree-trunk">
      
      <p class="branch branch-1 branch-left"><%= @poems[0].title %></p>
      <p class="branch branch-1 branch-left"><%= @poems[0].user.name %></p>
      <%= image_tag('left-branch.svg', class:'branch branch-1 branch-left') %>
      
      <p class="branch branch-2 branch-right"><%= @poems[1].title %></p>
      <p class="branch branch-2 branch-right"><%= @poems[1].user.name %></p>
      <%= image_tag('right-branch.svg', class:'branch branch-2 branch-right') %>
      
      <p class="branch branch-3 branch-left"><%= @poems[2].title %></p>
      <p class="branch branch-3 branch-left"><%= @poems[2].user.name %></p>
      <%= image_tag('left-branch.svg', class:'branch branch-3 branch-left') %>
      
      <p class="branch branch-4 branch-right"><%= @poems[3].title %></p>
      <p class="branch branch-4 branch-right"><%= @poems[3].user.name %></p>
      <%= image_tag('right-branch.svg', class:'branch branch-4 branch-right') %>
      
      <p class="branch branch-5 branch-left"><%= @poems[4].title %></p>
      <p class="branch branch-5 branch-left"><%= @poems[4].user.name %></p>
      <%= image_tag('left-branch.svg', class:'branch branch-5 branch-left') %>

      <div class="poettree-hole"></div>
      
    </div>
  </div>

  <%= paginate @poems %>

  <div class="poettree-icon-btn poettree-search-btn">
    <%= image_tag('search-icon.svg', class:'poettree-search-icon') %>
  </div>
  <div class="poettree-icon-btn poettree-info-btn">
    <p>?</p>
  </div>
  <div class="poettree-icon-btn poettree-my-poems-btn">
    <%= image_tag('my-poems-icon.svg', class:'poettree-my-poems-icon') %>
  </div>
  <%= form_for poems_path, method: :get do |f| %>

  <%= text_field_tag :search, params[:search] %>
  <%= f.submit 'Search' %>

  <% end %>

</main>

