<p id="notice"><%= notice %></p>

<h1>Poems</h1>

<%= form_for poems_path, method: :get do |f| %>

  <%= text_field_tag :search, params[:search] %>
  <%= f.submit 'Search' %>

<% end %>

<% @poems.each do |poem| %>
  <h3><%= poem.title %></h3>
  <h3><%= poem.user.name %></h3>
<% end %>

<%= paginate @poems %>

<br>

<%= link_to 'New Poem', new_poem_path %>
