<%= render 'lessons/nav' %>

<p id="notice"><%= notice %></p>

<main class="poettree-bg">
  <div class="poettree-ctr">
    <div class="poettree-trunk">

      <div class="leaf-branch-ctr-1 leaf-branch-ctr-left leaf-branch-ctr" data-leaf="1" data-title="<%= @poems[0].title %>" data-author="<%= @poems[0].author %>" data-body="<%= @poems[0].body %>" data-image="<%= @poems[0].image_url %>">
          <%= image_tag('left-branch.svg', class:'branch branch-left') %>
          <%- if @poems[0] %>
            <%= image_tag('leaves.svg', class:'leaf') %>
            <div class="poem-details-ctr" data="poettree-poem-modal" data-leaf="1">
              <p class="poettree-poem-title" data-leaf="1"> <%= truncate(@poems[0].title, length: 35) %></p>
              <p class="poettree-poem-author" data-leaf="1"><%= @poems[0].author %></p>
            </div>
          <% end -%>
      </div>
      <div class="leaf-branch-ctr-2 leaf-branch-ctr-right leaf-branch-ctr" data-leaf="2" data-title="<%= @poems[1].title %>" data-author="<%= @poems[1].author %>" data-body="<%= @poems[1].body %>" data-image="<%= @poems[1].image_url %>">
          <%= image_tag('right-branch.svg', class:'branch branch-right') %>
          <%- if @poems[1] %>
            <%= image_tag('leaves.svg', class:'leaf leaf-right') %>
             <div class="poem-details-ctr poem-details-ctr-right" data="poettree-poem-modal" data-leaf="2">
              <p class="poettree-poem-title" data-leaf="2"> <%= truncate(@poems[1].title, length: 35) %></p>
              <p class="poettree-poem-author" data-leaf="2"><%= @poems[1].author %></p>            
            </div>
          <% end -%>
      </div>
      <div class="leaf-branch-ctr-3 leaf-branch-ctr-left leaf-branch-ctr" data-leaf="3" data-title="<%= @poems[2].title %>" data-author="<%= @poems[2].author %>" data-body="<%= @poems[2].body %>" data-image="<%= @poems[2].image_url %>">
          <%= image_tag('left-branch.svg', class:'branch branch-left') %>
          <%- if @poems[2] %>
            <%= image_tag('leaves.svg', class:'leaf') %>
             <div class="poem-details-ctr" data="poettree-poem-modal" data-leaf="3">
              <p class="poettree-poem-title" data-leaf="3"> <%= truncate(@poems[2].title, length: 35) %></p>
              <p class="poettree-poem-author" data-leaf="3"><%= @poems[2].author %></p>            
            </div>
          <% end -%>
      </div>
      <div class="leaf-branch-ctr-4 leaf-branch-ctr-right leaf-branch-ctr" data-leaf="4" data-title="<%= @poems[3].title %>" data-author="<%= @poems[3].author %>" data-body="<%= @poems[3].body %>" data-image="<%= @poems[3].image_url %>">
          <%= image_tag('right-branch.svg', class:'branch branch-right') %>
          <%- if @poems[3] %>
            <%= image_tag('leaves.svg', class:'leaf leaf-right') %>
             <div class="poem-details-ctr poem-details-ctr-right" data="poettree-poem-modal" data-leaf="4">
              <p class="poettree-poem-title" data-leaf="4"> <%= truncate(@poems[3].title, length: 35) %></p>
              <p class="poettree-poem-author" data-leaf="4"><%= @poems[3].author %></p>            
            </div>
          <% end -%>
      </div>      
      <div class="leaf-branch-ctr-5 leaf-branch-ctr-left leaf-branch-ctr" data-leaf="5" data-title="<%= @poems[4].title %>" data-author="<%= @poems[4].author %>" data-body="<%= @poems[4].body %>" data-image="<%= @poems[4].image_url %>">
          <%= image_tag('left-branch.svg', class:'branch branch-left') %>
          <%- if @poems[4] %>
            <%= image_tag('leaves.svg', class:'leaf') %>
             <div class="poem-details-ctr" data="poettree-poem-modal" data-leaf="5">
              <p class="poettree-poem-title" data-leaf="5"> <%= truncate(@poems[4].title, length: 35) %></p>
              <p class="poettree-poem-author" data-leaf="5"><%= @poems[4].author %></p>            
            </div>
          <% end -%>
      </div>
      <div class="poettree-hole"></div>
      
    </div>
  </div>
  <div class="next-poem-btn">
    <%= link_to_previous_page @poems, 'Last Page', class: "prev-poem-btn" %>
    <%= link_to_next_page @poems, 'Next Page' %>
  </div>
  
  <div data="poettree-search-modal" id="search" class="poettree-icon-btn poettree-search-btn" title="Search for Poems">
    <%= image_tag('search-icon.svg', class:'poettree-search-icon') %>
  </div>
  <div data="poettree-info-modal" id="info" class="poettree-icon-btn poettree-info-btn" title="Information About This Page">
    <p>?</p>
  </div>
  <a data="poettree-my-poems-btn" href="/poettree/my_poems" id="myPoems" class="poettree-icon-btn poettree-my-poems-btn" title="All of Your Poems">
    <%= image_tag('my-poems-icon.svg', class:'poettree-my-poems-icon') %>
  </a>


</main>
<div class="poettree-search-modal hidden">
  <h2>Search for Poems</h2>
  
    <%= form_for poems_path, method: :get, html: { class: "poettree-search-bar" } do |f| %>
  
      <%= text_field_tag :search, params[:search], class: 'poettree-search-bar-input' %>
      <%= f.submit 'Search', class: 'poettree-search-bar-btn' %>

  
    <% end %>
  
   
</div>
<div class="poettree-info-modal hidden">
  <h2>Welcome to the Poettree</h2>
  <p>Here you can find any poems that other students have decided to post to the PoetTree. You can search for poems by clicking the search icon in the top right corner. You can also see all of your poems by clicking the little person icon in the bottom right corner. Have fun and check out what your friends have added to the PoetTree!</p>
</div>
<div class="poettree-poem-modal hidden">
  <div class="red-exit-ctr">
    <%= image_tag("red-exit", class: "red-exit-icon")  %>
  </div>
  <h2 class="poettree-poem-modal-title">All the Kings Men</h2>
  <span class="poettree-poem-modal-author">by Ms Poetry Master</span> 
  <p class="poettree-poem-modal-body">
        Do not go gentle into that good night,
    Old age should burn and rave at close of day;
    Rage, rage against the dying of the light.
    
    Though wise men at their end know dark is right,
    Because their words had forked no lightning they
    Do not go gentle into that good night.
    
    Good men, the last wave by, crying how bright
    Their frail deeds might have danced in a green bay,
    Rage, rage against the dying of the light.
    
    Wild men who caught and sang the sun in flight,
    And learn, too late, they grieved it on its way,
    Do not go gentle into that good night.
    
    Grave men, near death, who see with blinding sight
    Blind eyes could blaze like meteors and be gay,
    Rage, rage against the dying of the light.
    
    And you, my father, there on the sad height,
    Curse, bless, me now with your fierce tears, I pray.
    Do not go gentle into that good night.
    Rage, rage against the dying of the light.
  </p>
  <div class="poettree-poem-modal-icon-ctr">
    <div class="poettree-poem-modal-icon poettree-poem-modal-icon-active">
      <%= image_tag('preview-poem-icon.svg', class: "poettree-preview-poem-icon") %>
    </div>
    <div class="poettree-poem-modal-icon poettree-poem-modal-icon-inactive">
      <%= image_tag('preview-img-icon.svg', class: "poettree-preview-img-icon") %>
    </div>
  </div>

</div>

<script>
  $(document).ready(function() {
    
	// Find Elements
	const body = document.querySelector("body")
  const search = document.getElementById("search")
  const info = document.getElementById("info")
  const myPoems = document.getElementById("myPoems")
  const searchModal = document.querySelector(".poettree-search-modal")
  const infoModal = document.querySelector(".poettree-info-modal")
  const poemModal = document.querySelector(".poettree-poem-modal")
  const btns = [search, info]
  const poemDetailsCtr = Array.from(document.querySelectorAll(".poem-details-ctr"))
  const redExit = document.querySelector(".red-exit-icon")
  const poettreePoemModalIcons = Array.from(document.querySelectorAll(".poettree-poem-modal-icon"))
  const poemPreview = document.querySelector(".poettree-preview-poem-icon")
  const imgPreview = document.querySelector(".poettree-preview-img-icon")
	// Create & Mutate Elements
	const overlay = document.createElement("div")
	overlay.setAttribute("data", "")
	overlay.className = "hidden overlay"
	overlay.style.zIndex = "2"

	//Add Elements to Page
	body.appendChild(overlay)

	// Event Functions


	const overlayToggle = () => {
		overlay.classList.toggle("hidden")
	}
	
	const searchModalToggle = (e) => {
    searchModal.classList.toggle("hidden")
    searchModal.classList.toggle("active-modal")
	}
	const infoModalToggle = (e) => {
    infoModal.classList.toggle("hidden")
    infoModal.classList.toggle("active-modal")
	}
	const poemModalToggle = (e) => {
    poemModal.classList.toggle("hidden")
    poemModal.classList.toggle("active-modal")
    // here 
    console.log($(e.target))
    console.log("Leaf is " + $(e.target).data("leaf"))
    
    let leaf = $(e.target).data("leaf")
    
    const branchData = $(".leaf-branch-ctr-" + leaf);
    
    $(".poettree-poem-modal-title").text( branchData.data("title") );
    $(".poettree-poem-modal-author").text( branchData.data("author") );
    $(".poettree-poem-modal-body").text( branchData.data("body") );

    // poettree-poem-modal-title
    // poettree-poem-modal-author
	}
	
	const togglePoemContent = () => {
	  const active = document.querySelector(".poettree-poem-modal-icon-active")
	  const inactive = document.querySelector(".poettree-poem-modal-icon-inactive")
	  active.classList.toggle("poettree-poem-modal-icon-active")
	  active.classList.toggle("poettree-poem-modal-icon-inactive")
	  inactive.classList.toggle("poettree-poem-modal-icon-active")
	  inactive.classList.toggle("poettree-poem-modal-icon-inactive")
	}
	//Attach Events
	btns.map((ele) => {
	  ele.addEventListener("click", overlayToggle)
	})
	poemDetailsCtr.map((ele) => {
  	ele.addEventListener("click", overlayToggle)
	  ele.addEventListener("click", poemModalToggle)
	})
	
	search.addEventListener("click", searchModalToggle)
	info.addEventListener("click", infoModalToggle)
	
	redExit.addEventListener("click", () => {
    const activeModal = document.querySelector(".active-modal")
    activeModal.classList.toggle("hidden")
    activeModal.classList.toggle("active-modal")
		overlayToggle()	  
	})
	
	overlay.addEventListener("click", (e) => {
    const activeModal = document.querySelector(".active-modal")
    activeModal.classList.toggle("hidden")
    activeModal.classList.toggle("active-modal")
		overlayToggle()
	})
	
	poettreePoemModalIcons.map((ele) => {
	  ele.addEventListener("click", togglePoemContent)
	})
})
</script>