<%= render 'lessons/nav' %>

<p id="notice"><%= notice %></p>

<main class="poettree-bg">
  <div class="poettree-ctr">
    <div class="poettree-trunk">

      <div class="leaf-branch-ctr-1 leaf-branch-ctr-left leaf-branch-ctr">
          <%= image_tag('left-branch.svg', class:'branch branch-left') %>
          <%= image_tag('leaves.svg', class:'leaf') %>
          <div class="poem-details-ctr">
            <p class="poettree-poem-title"> <%= @poems[0].title %></p>
            <p class="poettree-poem-author"><%= @poems[0].user.email.split('@')[0] %></p>            
          </div>
      </div>
      <div class="leaf-branch-ctr-2 leaf-branch-ctr-right leaf-branch-ctr">
          <%= image_tag('right-branch.svg', class:'branch branch-right') %>
          <%= image_tag('leaves.svg', class:'leaf leaf-right') %>
           <div class="poem-details-ctr">
            <p class="poettree-poem-title"> <%= @poems[1].title %></p>
            <p class="poettree-poem-author"><%= @poems[1].user.email.split('@')[0] %></p>            
          </div>
      </div>
      <div class="leaf-branch-ctr-3 leaf-branch-ctr-left leaf-branch-ctr">
          <%= image_tag('left-branch.svg', class:'branch branch-left') %>
          <%= image_tag('leaves.svg', class:'leaf') %>
           <div class="poem-details-ctr">
            <p class="poettree-poem-title"> <%= @poems[2].title %></p>
            <p class="poettree-poem-author"><%= @poems[2].user.email.split('@')[0] %></p>            
          </div>
      </div>
      <div class="leaf-branch-ctr-4 leaf-branch-ctr-right leaf-branch-ctr">
          <%= image_tag('right-branch.svg', class:'branch branch-right') %>
          <%= image_tag('leaves.svg', class:'leaf leaf-right') %>
           <div class="poem-details-ctr">
            <p class="poettree-poem-title"> <%= @poems[3].title %></p>
            <p class="poettree-poem-author"><%= @poems[3].user.email.split('@')[0] %></p>            
          </div>
      </div>      
      <div class="leaf-branch-ctr-5 leaf-branch-ctr-left leaf-branch-ctr">
          <%= image_tag('left-branch.svg', class:'branch branch-left') %>
          <%= image_tag('leaves.svg', class:'leaf') %>
           <div class="poem-details-ctr">
            <p class="poettree-poem-title"> <%= @poems[4].title %></p>
            <p class="poettree-poem-author"><%= @poems[4].user.email.split('@')[0] %></p>            
          </div>
      </div>


      <div class="poettree-hole"></div>
      
    </div>
  </div>

  <%= paginate @poems %>

  <div class="poettree-icon-btn poettree-search-btn">
    <%= image_tag('search-icon.svg', class:'poettree-search-icon') %>
  </div>
  <div class="poettree-icon-btn poettree-info-btn">
    <p>?</p>
  </div>
  <div class="poettree-icon-btn poettree-my-poems-btn">
    <%= image_tag('my-poems-icon.svg', class:'poettree-my-poems-icon') %>
  </div>
  <%= form_for poems_path, method: :get do |f| %>

  <%= text_field_tag :search, params[:search] %>
  <%= f.submit 'Search' %>

  <% end %>

</main>

