<%= render 'lessons/nav' %>

<p id="notice"><%= notice %></p>

<main class="poettree-bg">
  <div class="poettree-ctr">
    <div class="poettree-trunk">

      <div class="leaf-branch-ctr-1 leaf-branch-ctr-left leaf-branch-ctr">
          <%= image_tag('left-branch.svg', class:'branch branch-left') %>
          <%- if @poems[0] %>
            <%= image_tag('leaves.svg', class:'leaf') %>
            <div class="poem-details-ctr">
              <p class="poettree-poem-title"> <%= truncate(@poems[0].title, length: 35) %></p>
              <p class="poettree-poem-author"><%= @poems[0].user.email.split('@')[0] %></p>
            </div>
          <% end -%>
      </div>
      <div class="leaf-branch-ctr-2 leaf-branch-ctr-right leaf-branch-ctr">
          <%= image_tag('right-branch.svg', class:'branch branch-right') %>
          <%- if @poems[1] %>
            <%= image_tag('leaves.svg', class:'leaf leaf-right') %>
             <div class="poem-details-ctr poem-details-ctr-right">
              <p class="poettree-poem-title"> <%= truncate(@poems[1].title, length: 35) %></p>
              <p class="poettree-poem-author"><%= @poems[1].user.email.split('@')[0] %></p>            
            </div>
          <% end -%>
      </div>
      <div class="leaf-branch-ctr-3 leaf-branch-ctr-left leaf-branch-ctr">
          <%= image_tag('left-branch.svg', class:'branch branch-left') %>
          <%- if @poems[2] %>
            <%= image_tag('leaves.svg', class:'leaf') %>
             <div class="poem-details-ctr">
              <p class="poettree-poem-title"> <%= truncate(@poems[2].title, length: 35) %></p>
              <p class="poettree-poem-author"><%= @poems[2].user.email.split('@')[0] %></p>            
            </div>
          <% end -%>
      </div>
      <div class="leaf-branch-ctr-4 leaf-branch-ctr-right leaf-branch-ctr">
          <%= image_tag('right-branch.svg', class:'branch branch-right') %>
          <%- if @poems[3] %>
            <%= image_tag('leaves.svg', class:'leaf leaf-right') %>
             <div class="poem-details-ctr poem-details-ctr-right">
              <p class="poettree-poem-title"> <%= truncate(@poems[3].title, length: 35) %></p>
              <p class="poettree-poem-author"><%= @poems[3].user.email.split('@')[0] %></p>            
            </div>
          <% end -%>
      </div>      
      <div class="leaf-branch-ctr-5 leaf-branch-ctr-left leaf-branch-ctr">
          <%= image_tag('left-branch.svg', class:'branch branch-left') %>
          <%- if @poems[4] %>
            <%= image_tag('leaves.svg', class:'leaf') %>
             <div class="poem-details-ctr">
              <p class="poettree-poem-title"> <%= truncate(@poems[4].title, length: 35) %></p>
              <p class="poettree-poem-author"><%= @poems[4].user.email.split('@')[0] %></p>            
            </div>
          <% end -%>
      </div>
      <div class="poettree-hole"></div>
      
    </div>
  </div>

  <%= link_to_next_page @poems, 'Next Page' %>
  <%= link_to_previous_page @poems, 'Last Page' %>

  <div id="search" class="poettree-icon-btn poettree-search-btn" title="Search for Poems">
    <%= image_tag('search-icon.svg', class:'poettree-search-icon') %>
  </div>
  <div id="info" class="poettree-icon-btn poettree-info-btn" title="Information About This Page">
    <p>?</p>
  </div>
  <a href="/poettree/my_poems" id="myPoems" class="poettree-icon-btn poettree-my-poems-btn" title="All of Your Poems">
    <%= image_tag('my-poems-icon.svg', class:'poettree-my-poems-icon') %>
  </a>


</main>
<div class="poettree-search-modal hidden">
  <h2>Search for Poems</h2>
  
    <%= form_for poems_path, method: :get, html: { class: "poettree-search-bar" } do |f| %>
  
      <%= text_field_tag :search, params[:search], class: 'poettree-search-bar-input' %>
      <%= f.submit 'Search', class: 'poettree-search-bar-btn' %>

  
    <% end %>
  
   
</div>
<div class="poettree-info-modal hidden">
  <h2>Welcome to the Poettree</h2>
  <p>Here you can find any poems that other students have decided to post to the PoetTree. You can search for poems by clicking the search icon in the top right corner. You can also see all of your poems by clicking the little person icon in the bottom right corner. Have fun and check out what your friends have added to the PoetTree!</p>
</div>

<script>
  $(document).ready(function() {
    
	// Find Elements
	const body = document.querySelector("body")
  const search = document.getElementById("search")
  const info = document.getElementById("info")
  const myPoems = document.getElementById("myPoems")
  const searchModal = document.querySelector(".poettree-search-modal")
  const infoModal = document.querySelector(".poettree-info-modal")
  const btns = [search, info]
	// Create & Mutate Elements
	const overlay = document.createElement("div")
	overlay.className = "hidden overlay"

	//Add Elements to Page
	body.appendChild(overlay)

	// Event Functions


	const overlayToggle = () => {
		overlay.classList.toggle("hidden")
	}
	
	const modalOverlayToggle = () => {
		overlay.classList.toggle("hidden")
		modal.innerHTML = ""
		modal.classList.toggle("hidden")
	}
	
	const searchModalToggle = () => {
    searchModal.classList.toggle("hidden")
	}
	const infoModalToggle = () => {
    infoModal.classList.toggle("hidden")
	}
	
	const modalToggle = (type) => {
	  if(type === "") {
	    infoModalToggle()
	  }
	  else if(type === "") {
	    searchModalToggle()
	  }
	}
	//Attach Events
	btns.map((ele) => {
	  ele.addEventListener("click", overlayToggle)
	})
	
	search.addEventListener("click", searchModalToggle)
	
	overlay.addEventListener("click", (e) => {
		const modalType = e.target.getAttribute("data")
		modalToggle(modalType)
		overlayToggle()
	})
})
</script>