<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poem.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @poem.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @poem.user %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @poem.image_url %>
</p>

<p>
  <strong>Shared:</strong>
  <%= @poem.shared %>
</p>

<%= link_to 'Edit', edit_poem_path(@poem) %> |
<%= link_to 'Back', poems_path %>
