<%= form_with(model: lesson_group, local: true) do |form| %>
  <% if lesson_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson_group.errors.count, "error") %> prohibited this lesson_group from being saved:</h2>

      <ul>
      <% lesson_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :lesson_group_title %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order, id: :lesson_group_order %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
