<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @lesson_completed.lesson %>
</p>

<p>
  <strong>User:</strong>
  <%= @lesson_completed.user %>
</p>

<%= link_to 'Edit', edit_lesson_completed_path(@lesson_completed) %> |
<%= link_to 'Back', lesson_completeds_path %>
