<%= form_for [@lesson_group, lesson] do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :lesson_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :lesson_content %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order, id: :lesson_order %>
  </div>

  <div class="field">
    <%= form.label :video_link %>
    <%= form.text_field :video_link, id: :video_link %>
  </div>

  <div class="field">
    <%= form.label :lesson_group_id %>
    <%= form.number_field :lesson_group_id, id: :lesson_group_id %>
  </div>

  <div class="field">
    <%= form.label :lesson_type %>
    <%= form.select :lesson_type, Lesson.lesson_types.map { |key, value| [key.humanize, key] }  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
