<p id="notice"><%= notice %></p>
<%= link_to 'Back to Editor', '/editor' %>

<h1><%= @lesson_group.title %> - Lessons</h1>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Order</th>
      <th>Lesson type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.title %></td>
        <td><%= lesson.content %></td>
        <td><%= lesson.order %></td>
        <td><%= lesson.lesson_type %></td>
        <td><%= link_to 'Show', "/lesson_groups/#{@lesson_group.id}/lessons/#{lesson.id}" %></td>
        <td><%= link_to 'Edit', "/lesson_groups/#{@lesson_group.id}/lessons/#{lesson.id}/edit" %></td>
        <td><%= link_to 'Destroy', "/lesson_groups/#{@lesson_group.id}/lessons/#{lesson.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', "/lesson_groups/#{@lesson_group.id}/lessons/new" %>
