<%= render 'nav' %> 
<div class="lesson-progress-ctr">
  <div class="lesson-progress-description">
    <h3><%= @lesson_group.title %></h3>
    <p><%#= current_user.lesson_completeds.in_lesson_group(@lesson_group).count %><%#= @lesson_group.lessons.count %><span id="completed-lessons">3</span>/<span id="total-lessons">4</span> Lessons Completed</p>
  </div>
  <div class="progress-bar">
    <div class="progress-bar-fill"></div>  
</div>
</div>

  
<main class="lesson-body">
  <div class="lesson-header">
    <h1><%= @lesson.title %> <span class="lesson-type"><%= @lesson.lesson_type.titleize %></span></h1>
      <%= link_to complete_lesson_group_lesson_path, method: :post do %>
        <a class="next-lesson-btn">Next Lesson</a>
      <% end %>
    
  </div>
  

  
  <% if @lesson.video? %>
    
    <iframe class="video-lesson" src="<%=@lesson.video_link%>"> </iframe> 
    
    <h2>Resources<h2/>
    <p><%= @lesson.content %></p>
      
  <% else %>
    <div class="assignment-poem-form">
      <div class="instructions-ctr">
        <h2>Instructions<h2/>
        <p><%= @lesson.content %></p>
      </div>

      <div class="assignment-ctr">
        <h2>Your Poem<h2/>
        <%= render 'poems/form', poem: @poem %>  
      </div>

    </div>


  
  <% end %>
    
  <h2>Lessons<h2/>
  <% @lesson_group.lessons.each do |l| %>
  
    <%= link_to [@lesson_group, l] do |a| %>
       <div class="lesson-nav lesson-nav-top">
       <%= image_tag l.video? ? 'lesson-video.svg' : 'assignment.svg', class:'lesson-play-icon' %>
       <a><%= l.title %> <%= '(current lesson)' if l == @lesson %> </a>
       <%= image_tag 'star.svg', class:"lesson-completed-icon" %>
      <%#= image_tag 'star.svg' if l.completed_by?(current_user) %>
      </div>
    <% end %>
  
  <% end %>
</main>
<script>
  $(document).ready(function() {
    //Find Elements
    const lessonsComplete = document.getElementById("completed-lessons")
    const totalLessons = document.getElementById("total-lessons")
    const progressFill = document.querySelector(".progress-bar-fill")
    
    //Convert text for lessons to Integers
    const lessonsCompleteInt = +(lessonsComplete.innerText)
    const totalLessonsInt = +(totalLessons.innerText)
    const convertToStringPercent = (completed, total) => {
      const decimal = Math.floor((completed / total) * 100)
      return `${decimal}%`
    }

    //Define and call function to mutate width of progress bar on load
    const adjustProgressBarWidth = () => {
      const percent = convertToStringPercent(lessonsCompleteInt, totalLessonsInt)
      progressFill.style.width = percent
      }
    
    adjustProgressBarWidth()

    })
  
</script>
