<!DOCTYPE html>
<html>
  <head>
    <title>iPoetTree</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Crimson+Text|Love+Ya+Like+A+Sister' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/donate_form' %>
    <%= render 'layouts/username' if current_user && current_user.first_name.nil? %>

  </body>
</html>
