<!DOCTYPE html>
<html>
  <head>
    <title>iPoetTree</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Crimson+Text|Love+Ya+Like+A+Sister' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    
    <ul class="nav">
      
      <%= current_user %>

    </ul>
    
    <%= yield %>
  </body>
</html>
